{% extends "base.html" %}
{% block login %}
    {% with user.username as username %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="panel right">
        <h1>Create a TALK</h1>
        <p>
            <form action="/submit" method="post">
            {% for field in TALK_form %}{% csrf_token %}
            {{ field }}
            {% endfor %}
            <input type="hidden" value="{{ next_url }}" name="next_url">
            <input type="submit" value="TALK!">
            </form>
        </p>
    </div>
    <div class="panel left">
        <h1>Buddies' TALKs</h1>
        {% for TALK in TALKs %}
        <div class="TALKWrapper">
            <a href="/users/{{ TALK.user.username }}">
                <img class="avatar" src="{{ TALK.user.profile.gravatar_url }}">
                <span class="name">{{ TALK.user.first_name }}</span>
            </a>
            @{{ TALK.user.username }}
            <p>
                {{ TALK.content }}
            </p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
